version: '3.3'

services:
  db:
    image: sylvaindns/pg_green_it
    # build: .
    restart: always
    ports:
      - '5432:5432'
  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8080
